<h1>Account Created Successfully!</h1>

<p>Hello <%= name %>, Your account has been created.</p>

<a href="YOUR_BACKEND_SITE_URL/api/verifyUser/<%=token%>">
    <button>Verify your account</button>
</a>


<p>Thanks and Regards!</p>
<p>Nani Kandukuri</p>